@model BAPSLansdaleAddressManager.Models.User

@{
    ViewBag.Title = "DeleteUser";
}

<h2>Delete User</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">LastLogin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLogin)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Role</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role.Name)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to Users", "Users")
    </p>
}
