@model IEnumerable<BAPSLansdaleAddressManager.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
<table>
    <tr>
        <th></th>
        <th>
            UserName
        </th>
        <th>
            LastLogin
        </th>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
        <th>
            Needs Password Change
        </th>
        <th>
            Active
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id=item.UserId }) |
            @Html.ActionLink("Details", "UserDetails", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "DeleteUser", new { id=item.UserId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NeedsPasswordChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
    </tr>
}

</table>
